<!-- start: SEARCH FORM -->
<div class="search-form">
	<a class="s-open" href="#">
		<i class="ti-search"></i>
	</a>
	<form class="navbar-form" role="search">
		<a class="s-remove" href="#" ng-toggle-class="search-open" target=".navbar-form">
			<i class="ti-close"></i>
		</a>
		<div class="form-group" style="position:relative;">
            <input type="text" class="form-control" placeholder="{{ 'sidebar.search.PLACEHOLDER' | translate }}" ng-model="search" ng-change="search">
			<button class="btn search-button" type="submit">
				<i class="ti-search"></i>
			</button>
            <ul ng-show="searchResults.length" style="position:absolute; left:0; top:20px;z-index:2;width:100%;" class="list-group margin-bottom-10 margin-top-10 list-unstyled border-around bg-white">
                <li ng-repeat="result in searchResults" class="padding-top-5 padding-bottom-5 padding-horizontal-10" ng-if="$index < 10">
                    <a href="#" style="display:inline;" link-generator item="result">{{result.Title}}</a>
                </li>
            </ul>
		</div>
	</form>
</div>

<ul class="main-navigation-menu">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
				</div>
			</div>
		</a>
	</li>

    <li ng-class="{'active': $state.includes('app.admins')}">
        <a ui-sref="app.admins({reload:true})">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-crown"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.admins.MAIN"> Admins </span>
                </div>
            </div>
        </a>
    </li>

    <li ng-class="{'active': $state.includes('app.users')}">
        <a ui-sref="app.users({reload:true})">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-user"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.users.MAIN"> Users </span>
                </div>
            </div>
        </a>
    </li>

    <li ng-class="{'active': $state.includes('app.news')}">
        <a ui-sref="app.news({reload:true})">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-world"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.news.MAIN"> news </span>
                </div>
            </div>
        </a>
    </li>
    
    <li ng-class="{'active': $state.includes('app.newsEn') || $state.includes('app.newsSp')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-pencil-alt"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> User News </span>
                </div>
            </div>
        </a>

        <ul class="sub-menu">
            <li ng-class="{'active': $state.includes('app.newsEn')}">
                <a ui-sref="app.newsEn({reload:true})">
                    <span class="title" translate="sidebar.nav.news.EN">News En</span>
                </a>
            </li>
            <li ng-class="{'active': $state.includes('app.newsSp')}">
                <a ui-sref="app.newsSp({reload:true})">
                    <span class="title" translate="sidebar.nav.news.SP">News Sp</span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-class="{'active': $state.includes('app.venues')}">
        <a ui-sref="app.venues({reload:true})">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-location-pin"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.venues.MAIN"> Venues </span>
                </div>
            </div>
        </a>
    </li>

    <li ng-class="{'active': $state.includes('app.challenges')}">
        <a ui-sref="app.challenges({reload:true})">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-alarm-clock"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.challenges.MAIN"> Challenges </span>
                </div>
            </div>
        </a>
    </li>

    <li ng-class="{'active': $state.includes('app.user_challenges_en') || $state.includes('app.user_challenges_esp')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-time"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.user_challenges.MAIN"> User challenges </span>
                </div>
            </div>
        </a>

        <ul class="sub-menu">
            <li ng-class="{'active': $state.includes('app.user_challenges_en')}">
                <a ui-sref=" app.user_challenges_en({reload:true})">
                <span class="title" translate="sidebar.nav.user_challenges.user_challenges_EN">User challenges EN</span>
                </a>
            </li>
            <li ng-class="{'active': $state.includes('app.user_challenges_esp')}">
                <a ui-sref="app.user_challenges_esp({reload:true})">
                    <span class="title" translate="sidebar.nav.user_challenges.user_challenges_ESP">User challenges ESP</span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-class="{'active': $state.includes('app.goals')}">
        <a ui-sref="app.goals({reload:true})">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-target"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.goals.MAIN"> Goals </span>
                </div>
            </div>
        </a>
    </li>

    <li ng-class="{'active': $state.includes('app.achieves')}">
        <a ui-sref="app.achieves({reload:true})">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-cup"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.achieves.MAIN"> Achieves </span>
                </div>
            </div>
        </a>
    </li>

    <li ng-class="{'active': $state.includes('app.reportsByActivity') || $state.includes('app.reportsByStaff')}">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-bar-chart-o margin-right-5"></i>
                </div>
                <div class="item-inner">
                    <span class="title" translate="sidebar.nav.KPI_reports.MAIN"> KPI Reports </span>
                </div>
            </div>
        </a>

        <ul class="sub-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.reportsByActivity">
                    <span class="title" translate="sidebar.nav.KPI_reports.by_activity"> By Activity </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.reportsByStaff">
                    <span class="title" translate="sidebar.nav.KPI_reports.by_staff"> By Staff </span>
                </a>
            </li>
        </ul>
    </li>

    <li ng-class="{'active': $state.includes('app.about')}">
        <a ui-sref="app.about">
            <div class="item-content">
                <div class="item-media">
                    <i class="ti-help-alt"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> About </span>
                </div>
            </div>
        </a>
    </li>
</ul>